{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "6.1",
          "chrome": "67",
          "firefox": "60"
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
